.image {
    height: 30px;
    width: 50px;
}

.banner-section {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png');
    font-family: Roboto;
    height: 100vh;
    background-size: cover;
    text-align: center;
    height: 90vh;
}

.head {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.but {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 120px;
    background-color: #1a2137;
}